<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>SpotMe</title>
 <link rel="icon" href="{{ url_for('static', filename='images/icons/tab-icon.png')}}">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 <title></title>
</head>

<body class="login-body">
 <div class="login-container">
  <div class="logo">
   <img src="{{ url_for('static', filename='images/icons/spotme-icon-dark.png')}}" alt="" />
  </div>

  <div class="form-container">
   <div id="overlay"></div>
   
   <form>
    <div class="user-input">
     <div>
      <input type="text" id="email" name="email" placeholder="Email">
     </div>

     <div>
      <input type="text" id="username" name="username" placeholder="Username">
     </div>

     <div>
      <input type="password" id="password" name="password" placeholder="New Password">
     </div>

     <div>
      <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm New Password">
     </div>
    </div>

    <div class="login-but-reg">
     <button id="btn-change">Change Password</button>

     <div class="form-links">
      <p>
       Don't want to change password anymore? 
      <a href="{{ url_for('index') }}">Go Back</a>
      </p>
     </div>
    </div>
   </form>
  </div>
 </div>

 <div class="centerer">
  <div class="popup-changePW">
   <div class="popup-changePW-container">
    <h2>Change Password?</h2>

    <div class="changePW-yesno">
     <a class="changePW-close">No</a>
     <a class="changePW-yes">
      Yes
     </a>
    </div>
   </div>
  </div>

  <div class="popup-incomplete">
   <div class="popup-incomplete-container">
    <h2>Please fill all input fields first!</h2>

    <div class="incomplete-yesno">
     <a class="incomplete-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup-notfound">
   <div class="popup-notfound-container">
    <h2>Account not found or not yours!</h2>

    <div class="notfound-yesno">
     <a class="notfound-ok">
      Ok
     </a>
    </div>
   </div>
  </div>
 </div>
</body>

<script src="{{ url_for('static', filename='js/back_and_reset.js') }}"></script>
<script src="{{ url_for('static', filename='js/change_password.js') }}"></script>

</html>