<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>SpotMe</title>
 <link rel="icon" href="{{ url_for('static', filename='images/icons/tab-icon.png')}}">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 <title></title>
</head>

<body class="login-body">
 <div class="login-container">
  <div class="logo">
   <img src="{{ url_for('static', filename='images/icons/spotme-icon-dark.png')}}" alt="" />
  </div>

  <div class="form-container">
   <div id="overlay"></div>
   
   <form>
    <div class="user-input">
     <div>
      <input type="text" id="email" name="email" placeholder="Email" />
     </div>

     <div>
      <input type="text" id="username" name="username" placeholder="Username" />
     </div>

     <div>
      <input type="password" id="password" name="password" placeholder="New Password" />
     </div>

     <div>
      <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm New Password" />
     </div>
    </div>

    <div class="login-but-reg">
     <button id="btn-forgot">Change Password</button>

     <div class="form-links">
      <p>
       Remembered your password? <a href="{{ url_for('login') }}">Login</a>
      </p>
     </div>
    </div>
   </form>
  </div>
 </div>

 <div class="centerer">
  <div class="popup popup-forgot">
   <div class="popup-container">
    <h2>Passwords given are not the same!</h2>

    <div class="popup-yesno">
     <a class="popup-yes forgot-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-wrong">
   <div class="popup-container">
    <h2>Email is incorrect! Are you sure it's your account?</h2>

    <div class="popup-yesno">
     <a class="popup-yes wrong-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-incomplete">
   <div class="popup-container">
    <h2>Please fill all input fields first!</h2>

    <div class="popup-yesno">
     <a class="popup-yes incomplete-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-notfound">
   <div class="popup-container">
    <h2>Account not found! Are you sure it exists?</h2>

    <div class="popup-yesno">
     <a class="popup-yes notfound-ok">
      Ok
     </a>
    </div>
   </div>
  </div>
</body>

<script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>

</html>