<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>SpotMe</title>
	<link rel="icon" href="{{ url_for('static', filename='images/icons/tab-icon.png')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	<title></title>
</head>

<body class="login-body">
	<div class="login-container">
		<div class="logo">
			<img src="{{ url_for('static', filename='images/icons/spotme-icon-dark.png')}}" alt="" />
		</div>

		<div class="form-container">
			<form action="{{ url_for('checking') }}" method="POST">
				<div class="user-input">
					<div>
						<input type="text" name="email_username" placeholder="Username or Email" required />
					</div>

					<div>
						<input type="password" name="password" placeholder="Password" required />
						<div class="form-links fl-pw">
							<a href="{{ url_for('forgot_password') }}">Forgot your password?</a>
						</div>
					</div>
				</div>

				<div class="login-but-reg">
					<button>Login</button>

					<div class="form-links">
						<p>Don't have an account? <a href="{{ url_for('create_account') }}">Register</a></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>